.output {
  display: flex;
  font-style: italic;
  font-size: 101px;
  font-weight: 800;
}

.output span {
  color: hsl(259, 100%, 65%);
}

.output p {
  color: hsl(0, 0%, 8%);
  margin: 0 0 0 10px;
}