main {
  max-width: 1440px;
  height: 98vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 94%);
  padding: 1rem;
}

.output-container {
  margin: 45px 0 0 0 ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 768px) {
  main {
    max-width: 480px;
    height: 812px;
  }
}
