.button {
  height: 97px;
  width: 97px;
  border: none;
  border-radius: 50%;
  background-color: hsl(259, 100%, 65%);
  cursor: pointer;
  position: relative;
  top: 99px;
  left: 55px;
}

.button:hover {
  background-color: hsl(0, 0%, 8%);
}

@media only screen and (max-width: 768px) {
  .button {
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 0 auto;
    top: 320px;
    right: 58px;
  }

  .button img {
    width: 25px;
  }

}